body {
    // width        : 95%;
    // margin          : 0 auto;
}

.top-header-section {
    margin          : 0 auto;
    background-color: whitesmoke;
    width           : 90%;
    padding         : 1%;



    img {
        display      : block;
        margin-left  : auto;
        margin-right : auto;
        border-radius: 100px;

    }
}

// .feature-master {
//     margin          : 0 auto;
//     background-color: whitesmoke;
//     width           : 90%;
// }

.feature-layout {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    // @media @mobile {
    //     width: 100%;
        
    // }
    padding-left :10%;
    @media @mobile {
        display        : flex;
        flex-direction: column;
    }

}
.feature-block {
    border: 2px solid gray;
    border-collapse: initial;
    width: 30%;
    height: 30%;
    
    @media @mobile {
        width: 80%;
     
        text-align: center;
        
        
    }

    @media @tablet {
        text-align: center;
    }
}

// .testimonials-block {
//     margin: 0 auto;
//     width : 80%;

//     img {
//         display      : block;
//         margin-left  : auto;
//         margin-right : auto;
//         border-radius: 100px;
//     }
// }